body {
  font-family: Arial;
}

.centered {
  text-align: center;
}

.circle2 {
  fill: #b9edd8;
}

.circle2:hover {
  stroke: #000000;
  stroke-width: 3px;
}

.circle3 {
  fill: #e2ccff;
  fill-opacity: 1.0;
  stroke: #000000;
  stroke-width: 5px;
}

.filled {
  fill: #e2ccff;
  fill-opacity: 1.0;
  stroke: #000000;
  stroke-width: 5px;
}

.transparent {
  fill: #e2ccff;
  fill-opacity: 0;
  stroke-width: 0px;
}


circle {
  padding: 10px;
}